{{#*inline "thead"}}
<th scope="col">#</th>
<th scope="col">Name</th>
<th scope="col">Actions</th>
{{/inline}}
{{#*inline "tbody"}}
<th scope="row">{{@index}}</th>
<td>{{this.attributes.name}}</td>
<td>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="/admin/products/{{this.id}}/update" class="btn btn-sm btn-primary">Edit</a>
        <form method="post" action="/admin/products/{{this.id}}">
            <input type="hidden" name="_method" value="DELETE" />
            <button class="btn btn-sm btn-danger" type="submit">Delete</button>
        </form>
    </div>
</td>
{{/inline}}
{{>list createRoute='/admin/products/create' items=products}}
