<main>
    {{#unless products}}
        EMPTY STORES
    {{/unless}}

    <section class="py-5">
        <div class="container px-4 px-lg-5 justify-content-center">
            <h4>{{store.attributes.name}}</h4>
        </div>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {{#each products}}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            {{#unless this.attributes.image}}
                                <img class="card-img-top" src="https://dummyimage.com/450x200/dee2e6/6c757d.jpg" alt="" />
                            {{/unless}}
                            {{#if this.attributes.image}}
                                <img class="card-img-top" src="{{this.attributes.image}}" alt="" />
                            {{/if}}
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{this.attributes.name}}</h5>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <form method="post" action="/cart/items">
                                        <input type="hidden" name="attributes[product][id]" value="{{this.id}}">
                                        <button type="submit" class="btn btn-outline-dark mt-auto">Add to cart</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>

</main>
