{{#*inline "thead"}}
<th scope="col">#</th>
<th scope="col">Status</th>
<th scope="col">Items</th>
<th scope="col">Actions</th>
{{/inline}}
{{#*inline "tbody"}}
<th scope="row">{{@index}}</th>
<td>{{this.attributes.status}}</td>
<td>
    {{#each this.attributes.items}}
        {{this.name}} - {{this.quantity}}{{#unless @last}}, {{/unless}} 
    {{/each}}
</td>
<td></td>
{{/inline}}
{{>list items=orders}}
