<main>
    <section class="py-5">
        <div class="container px-4 px-lg-5 justify-content-center">
            <h4>Create {{modelName}}</h4>
        </div>
        <div class="container px-4 px-lg-5 mt-5">
            {{>form}}
        </div>
    </section>
</main>
